html {
  font-size: 10px;
}
body {
  font-family: "Euclid Circular B", sans-serif;
}

.text-colot-white {
  color: #ffffff;
}

.margin-null {
  margin: 0;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}
.font-13 {
  font-size: 1.3rem;
}

.font-16 {
  font-size: 1.6rem;
}

.font-18 {
  font-size: 1.8rem;
}
.font-22 {
  font-size: 2.2rem;
}
.font-40 {
  font-size: 4rem;
}
.font-70 {
  font-size: 7rem;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.column-gap-20 {
  column-gap: 2rem;
}

.column-gap-40 {
  column-gap: 4rem;
}
.column-gap-45 {
  column-gap: 4.5rem;
}

.column-gap-15 {
  column-gap: 1.5rem;
}

.column-gap-16 {
  column-gap: 1.6rem;
}

.column-gap-10 {
  column-gap: 1rem;
}

.row-gap-20 {
  row-gap: 2rem;
}

.row-gap-30 {
  row-gap: 3rem;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-container-row {
  display: flex;
}

.flex-container-column {
  display: column;
}

.flex-container-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-items-center {
  text-align: center;
}

.transparent-input {
  border: none;
  outline: none;
  background-color: transparent;
  border-left: 2px solid #ffffff;
  height: 3.5rem;
  padding: 0rem 1.5rem;
  color: #ffffff;
  font-size: 1.8rem;
}

.transparent-input::placeholder {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
}

.border {
  border: 0.25rem solid rgba(255, 255, 255, 1);
  border-radius: 0.9rem;
  padding: 0.75rem 1.4rem;
  background-color: transparent;
}

.border-button-go {
  border: 0.25rem solid rgba(255, 255, 255, 1);
  height: 3.5rem;
  border-radius: 0.9rem;
  padding: 0rem 1.6rem;
  background-color: transparent;
}

.background {
  background-image: url(./images/background.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  /* background-repeat: no-repeat; */
  object-fit: contain;

  overflow: hidden;
}

.navbar {
  background-color: rgba(217, 217, 217, 0.12);
  border-radius: 0.9rem;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 90%;
  height: 6.8rem;
  margin: 4rem 3rem 0rem 3rem;
  padding: 0rem 4rem;
  box-shadow: -3.929967164993286px 3.929967164993286px 3.929967164993286px 0px
      rgba(255, 255, 255, 0.43) inset,
    3.929967164993286px -3.929967164993286px 3.929967164993286px 0px rgba(
        182,
        182,
        182,
        0.43
      ) inset;
}

.search-bar {
  background-color: rgba(217, 217, 217, 0.12);
  border-radius: 0.9rem;
  width: 45%;
  height: 2.8rem;
  padding: 2rem 2rem;
  margin-top: 6rem;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: -3.942500114440918px 3.942500114440918px 3.942500114440918px 0px
      rgba(255, 255, 255, 0.43) inset,
    3.942500114440918px -3.942500114440918px 3.942500114440918px 0px rgba(
        182,
        182,
        182,
        0.43
      ) inset;
}

.suggestion {
  background-color: rgba(217, 217, 217, 0.12);
  border-radius: 0.9rem;
  margin-top: 2rem;
  padding: 0rem 2.5rem;
  height: 4rem;
  width: fit-content;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  box-shadow: -3.942500114440918px 3.942500114440918px 3.942500114440918px 0px
      rgba(255, 255, 255, 0.43) inset,
    3.942500114440918px -3.942500114440918px 3.942500114440918px 0px rgba(
        182,
        182,
        182,
        0.43
      ) inset;
}

.status {
  margin-top: 4rem;
}

.heading-text {
  max-width: 60%;
  margin-top: 8rem;
}

.dialog {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 4rem;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: 0.9rem;
}

.dialog-navbar {
  background-color: rgba(245, 245, 245, 1);
  width: 100%;
  height: 80px;
}

.dialog-section {
  margin: 5rem 4.3rem;
}

.small-dialog-image {
  width: 420px;
  height: 240px;
  border-radius: 0.7rem;
}

.large-dialog-image {
  width: 920px;
  height: 500px;
  border-radius: 0.7rem;
}

.tags-style {
  color: rgba(118, 118, 118, 1);
  background-color: rgba(245, 245, 245, 1);
  padding: 0px 7.25px 0px 7.1px;
  height: 24px;
  margin: 5px 0px;
}

.keyword {
  border: 1.06px solid rgba(209, 209, 209, 1);
  border-radius: 4px;
  color: rgba(118, 118, 118, 1);
  background-color: transparent;
  min-width: 135px;
  height: 35px;
  padding: 0rem 5px;
}

.tags {
  width: 420px;
}

.image-details {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 1100px;
  padding: 0;
  border: none;
  z-index: 1;
}

.image-details-dialog {
  margin: 40px 40px;
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 3.5542078018188477px 3.5542078018188477px 0px
    rgba(0, 0, 0, 0.25);
  height: 65%;
  width: 94%;
}

.image-details-navbar {
  background-color: rgba(245, 245, 245, 1);
  height: 10%;
  padding: 0px 35px;
}

.image-details-section {
  padding: 0px 35px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.image-details-section-data {
  margin: 0px 10px 0px 30px;
}

.close-button {
  border-radius: 5px;
  border: 2px solid rgba(59, 64, 67, 1);
  height: 29px;
  width: 29px;
  color: rgba(59, 64, 67, 1);
}

.details-tag {
  margin-top: 15px;
}

.size-color {
  color: rgba(71, 84, 103, 1);
}

.head-color {
  color: rgba(113, 117, 121, 1);
}
.head-value-color {
  color: rgba(59, 64, 67, 1);
}

.size-border {
  border: 0.89px solid rgba(222, 232, 244, 1);
  width: 330px;
  padding: 0px 10px;
}

.upper-border-radius {
  border-radius: 9px 9px 0 0;
}

.lower-border-radius {
  border-radius: 0px 0px 9px 9px;
}

.download-button {
  border: none;
  border-radius: 5px;
  width: 350px;
  height: 42px;
  text-decoration: none;
  cursor: pointer;
}
.download-button-color {
  background-color: rgba(75, 195, 75, 1);
}

.disable-download-button-color {
  background-color: rgba(75, 195, 75, 0.2);
}

.image-api-data {
  width: 350px;
  height: 110px;
}

.input-border {
  border-radius: 50%;
}
